.header4 p{
    color: var(--secondaryColor);
}

.header4-bg{
    background-color: var(--primaryColor);
}

.header4 .fab{
    color: var(--secondaryColor);
}

.header4 .fas{
    color: var(--primaryColor);
}


.header4 .btn{

    background-color: var(--secondaryColor);
    color: var(--primaryColor);
    border-color: var(--primaryColor);
}

.header4 .btn:hover{
    background-color: var(--primaryColor);
    color: var(--secondaryColor);
    border: 1px solid transparent;
}


.header4 .btn:hover .fas{
    color: var(--secondaryColor);
}

.header4 input {
    margin-right: 10px;
}
