
#container1 #Footer-0{
    background-image:url('../../../images/Footer/footer-5.png');
    background-size: contain;
    min-height: 80px;
  }
#container1 #Footer-1{
    background-image: url("../../../images/Footer/footer-4.png");
    background-size: contain;
    min-height: 80px;
}

#container1 #Footer-2{
    background-image: url("../../../images/Footer/footer-3.png");
    background-size: contain;
    min-height: 80px;
}


.projectPreviewWrap #Footer-0{
    background-image:url('../../../images/Footer/footer-5.png');
    min-height: 120px;
    background-size: 100%;
    background-position: center;
  }
  .projectPreviewWrap #Footer-1{
    background-image: url("../../../images/Footer/footer-4.png");
    min-height: 50px;
    background-size: 100%;
    background-position: center;
}

.projectPreviewWrap #Footer-2{
    background-image: url("../../../images/Footer/footer-3.png");
    min-height: 120px;
    background-size: 100%;
    background-position: center;
}





