#Intro-0{

  background-size: cover;
}

.container1 #Intro-0{
  background-image: url("../../../images/Intro/intro-0.png");
  min-height: 90px;
  background-size: 100%;
}

.projectPreviewWrap #Intro-0{
  background-image: url("../../../images/Intro/intro-0.png");
  min-height: 175px;
  background-size: 100%;
}

.container1 #Intro-1{
  background-image: url("../../../images/Intro/intro-1.png");
  min-height: 90px;
  background-size: cover;
}

.projectPreviewWrap #Intro-1{
  background-image: url("../../../images/Intro/intro-1.png");
  min-height: 220px;
  background-size: cover;

}

#Intro-2{
  background-size: cover;
}

.container1 #Intro-2{
  background-image: url("../../../images/Intro/intro-2.png");
  min-height: 90px;
  background-size: 100%;
}

.projectPreviewWrap #Intro-2{
  background-image: url("../../../images/Intro/intro-2.png");
  min-height:190px;
  background-size: 100%;
}

.projectPreviewWrap #Intro-3{
  background-image: url("../../../images/Intro/intro-3.png");
  min-height:165px;
  background-size: 100%;
}


.container1 #Intro-3{
  background-image: url("../../../images/Intro/intro-3.png");

  min-height: 90px;
  background-size: 100%;
}



.container1 #Intro-4{
  background-image: url("../../../images/Intro/intro-4.png");
  
  min-height: 90px;
  background-size: 100%;
}

.projectPreviewWrap #Intro-4{
  background-image: url("../../../images/Intro/intro-4.png");
  min-height: 135px;
  background-size: contain;

}