#Intro-0{

  background-size: cover;
}

.container1 #Intro-0{
  background-image: url("../../../images/Intro/intro-0.png");
  min-height: 90px;
}

#Intro-1{
  background-size: cover;
}

.container1 #Intro-1{
  background-image: url("../../../images/Intro/intro-1.png");
  min-height: 90px;
}

#Intro-2{
  background-size: cover;
}

.container1 #Intro-2{
  background-image: url("../../../images/Intro/intro-2.png");
  min-height: 90px;
}

#Intro-3{
  
}
#container2 #Intro-0{
  min-height: 100%;
}

#container2 #Intro-3 svg{
  fill:#FFF;
}

#container2 #Intro-3 svg:hover{
  fill:#F97B82;
}

.container1 #Intro-3{
  background-image: url("../../../images/Intro/intro-3.png");

  min-height: 90px;
}

#Intro-4{
}


.container1 #Intro-4{
  background-image: url("../../../images/Intro/intro-4.png");

  min-height: 90px;
}
