#container1 #Team-0{
  background-image: url("../../../images/Team/team-0.png");
  background-size: contain;
}

.projectPreviewWrap #Team-0{
  background-image: url("../../../images/Team/team-0.png");
  min-height: 350px;
  background-size: 100%;
  background-position: center;
}



#container1 #Team-1{
  background-image: url("../../../images/Team/team-1.png");
  background-size: contain;
}

.projectPreviewWrap #Team-1{
  background-image: url("../../../images/Team/team-1.png");
  min-height: 250px;
  background-size: 100%;
  background-position: center;
}

#container1 #Team-2{
  background-image: url("../../../images/Team/team-2.png");
  background-size: contain;
}

.projectPreviewWrap #Team-2{
  background-image: url("../../../images/Team/team-2.png");
  min-height: 250px;
  background-size: 100%;
  background-position: center;
}

#container1 #Team-3{
  background-image: url("../../../images/Team/team-3.png");
  background-size: contain;
}

.projectPreviewWrap #Team-3{
  background-image: url("../../../images/Team/team-3.png");
  min-height: 260px;
  background-size: 100%;
  background-position: center;
}


