.projectPreview{
    padding: 10px;
    border: solid 1px black;
    background-size: 100%;

}

.projectPreviewWrap #Header-0{
    height: 40px;
    background-size: 100%;
    
}
.projectPreviewWrap #Header-1{
    height: 40px;
    background-size: 100%;

}
.projectPreviewWrap #Header-2{
    height: 60px;
    background-size: 100%;
}
