.sing-in{
    text-transform: uppercase;
    margin-right: 20px;
    font-size: 18px;
    padding: 10px 30px;
    border-radius: 35px;
    background-color: #FFF;
    color: #F97B82;
    border-color: transparent;
    border: 1px solid;
}

.sing-in:hover{
	background-color: #F97B82;
	border-color: #FFF;
	color: #FFF;
}

.sing-in:focus{
	border-color: transparent;
	border-radius: 35px;
}