.saveButton{
  position: absolute;
  top: 8px;
  padding: 9px;
  right: 65px;
  font-size: 16px;
  margin-left: auto;
  background-color:#00D4BB;
  color: #FFF;
  border: 1px solid;
  border-color: transparent;
  border-radius: 0;
  
  }
  
  .saveButton:hover{
      background-color:#9D1F60;
      border-color: #9D1F60;
  }