#imageButton{
    position: absolute;
    visibility: hidden;
    z-index: 110;
    height: 100%;
    width: 100%;
}

#imageButton:focus{
    outline: none;
    box-shadow: none!important;
}

#imageButton .Tooltip-Wrapper{
    width: 100%;
    height: 100%;
    position: initial;
}


#imageButton .Tooltip-Wrapper .btn, #imageButton .Tooltip-Wrapper .btn:hover{
    background-color: transparent;
    color: transparent;
    height: 100%;
    width: 100%;
}