.header2 .btn{
    background-color: var(--primaryColor);
    color: var(--secondaryColor);
    border: 1px solid transparent;
}

.header2 .btn:hover{
    background-color: var(--secondaryColor);
    color: var(--primaryColor);
    border-color: var(--primaryColor);
}
