

#container1 #Features-0{
    background-image:url("../../../images/Features/features-0.png");
  }

  .projectPreviewWrap #Features-0{
    background-image:url("../../../images/Features/features-0.png");
    min-height: 280px;
    background-size: 100%;
    background-position: center;
  }

  #container1 #Features-1{
    background-image: url("../../../images/Features/features-1.png");
}

.projectPreviewWrap #Features-1{
  background-image: url("../../../images/Features/features-1.png");
  min-height: 250px;
  background-size: 100%;
  background-position: center;
}

#container1 #Features-2{
    background-image: url("../../../images/Features/features-2.png");
}

.projectPreviewWrap #Features-2{
  background-image: url("../../../images/Features/features-2.png");
  min-height: 365px;
  background-size: 100%;
  background-position: center;
}

#container1 #Features-3{
    background-image: url("../../../images/Features/features-3.png");
    
}


.projectPreviewWrap #Features-3{
  background-image: url("../../../images/Features/features-3.png");
  min-height: 400px;
  background-size: 100%;
  background-position: center;
  
}
