
.container1 #Gallery-0{
    background-image: url("../../../images/Gallery/gallery-0.png");
}


.container1 #Gallery-1{
    background-image: url("../../../images/Gallery/gallery-1.png");
    
}


.container1 #Gallery-2{
    background-image: url("../../../images/Gallery/gallery-2.png");
}

.projectPreviewWrap #Gallery-0{
    background-image: url("../../../images/Gallery/gallery-0.png");
    min-height: 300px;
    background-size: 100%;
    background-position: center;
}

.projectPreviewWrap #Gallery-1{
    background-image: url("../../../images/Gallery/gallery-1.png");
    min-height: 365px;
    background-size: 100%;
    background-position: center;
}

.projectPreviewWrap #Gallery-2{
    background-image: url("../../../images/Gallery/gallery-2.png");
    min-height: 150px;
    background-size: 100%;
    background-position: center;
}
