
.container1 #Gallery-0{
    background-image: url("../../../images/Gallery/gallery-4.png");
}


.container1 #Gallery-1{
    background-image: url("../../../images/Gallery/gallery-3.png");
    
}


.container1 #Gallery-2{
    background-image: url("../../../images/Gallery/gallery-1.png");
}

