.intro1 h1{
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 35px;
    font-weight: 800;
    color: var(--primaryColor);

  }
  
  .intro1 p{
    padding-bottom: 20px;
    }

    
    .intro1 .btn{
        background-color: var(--primaryColor);
        color: var(--secondaryColor);
        border: 1px solid transparent;
        margin-bottom: 20px;
    }
    
    .intro1 .btn:hover{
        background-color: var(--secondaryColor);
        color: var(--primaryColor);
        border-color: var(--primaryColor);
    }
    