#container1 #Testimonial-0{
  background-image: url("../../../images/Testimonials/testimonial-0.png");
  background-size: contain;
  min-height: 100px;
}

.projectPreviewWrap #Testimonial-0{
  background-image: url("../../../images/Testimonials/testimonial-0.png");
  min-height: 200px;
  background-size: 100%;
  background-position: center;
}

#container1 #Testimonial-1{
  background-image: url("../../../images/Testimonials/testimonial-1.png");
  background-size: contain;
  min-height: 80px;
}


.projectPreviewWrap #Testimonial-1{
  background-image: url("../../../images/Testimonials/testimonial-1.png");
  min-height: 160px;
  background-size: 100%;
  background-position: center;
}




