    .wrapper {
     overflow:hidden;
     height: 100vh;
     font-family: 'Montserrat', sans-serif;
     background-image:url("https://i.ibb.co/zhxF9r6/KFR4Lqmg.png");
     background-size:cover;
    }
    button:focus{
      outline:#FFF!important;
    }
    .sign-up{
        border: solid 1px black;
        margin-left: auto;
        margin-right: auto;
    }

    .btn-wrapper{
        display: flex;
        justify-content: center;
    }
    
    .img-holder{
      padding-top:100px;
     	width:100%; 
      text-align:center;
    }
    
    .form-control::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
 			 	color: #FFF;
  			opacity: 1; /* Firefox */
      	font-weight:600;
		}

		.form-control:-ms-input-placeholder { /* Internet Explorer 10-11 */
 			color: #FFF;
		}

		.form-control::-ms-input-placeholder { /* Microsoft Edge */
  		color: #FFF;
		}
		

    
    
    .login-container {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row;
  }
  .login-col {
    width: 50%;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}
    .login-box {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      border-radius: 0;
  }
    .login-header {
      text-align: center;
    }
		
    .login-header h2{
      font-size:35px;
    }
    .login-header h5{
    	padding-bottom:35px;
    }
    
    .login-box .form-control{
    	border-radius:20px!important;
      background-color:#cccccc!important;
    }

    
